{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
            <div class="px-4 py-8">
                <div class="mb-2">
                    <h1 class="text-2xl font-bold text-gray-800">
                        <i class="fas fa-film"></i> New Movie
                    </h1>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="mt-4">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <a 
                        href="{{ path('app_movies') }}"
                        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-3 px-4 rounded"
                    >
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}